.avatar{
  display: flex;
  align-items: center;

  & > p{
    display: block;
    margin-bottom: 0;
  }

  &__img{
    width: 1.7rem;
    height: 1.7rem;
    margin-right: .65rem;
    outline: .05rem solid white;
    border-radius: 50%;
  }
}
