.card {
  background: hsl(216, 50%, 16%);
  font-weight: 300;
  width: 19em;
  margin: auto;
  border-radius: .6rem;
  line-height: 1.5em;
  font-size: .7em;

  @media screen and (min-width: 288px) {
    font-size: .8em;
  }

  @media screen and (min-width: 400px) {
    font-size: .85em;
  }

  &__container {
    margin: 1.3rem;
  }

  & p, .line, &__tag-content {
    margin-bottom: calc(12px + .03vw);
  }


  &__tag-content {
    display: flex;
    justify-content: space-between;

  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: .3rem;
    overflow: hidden;
    display: grid;
    background-color: hsl(178, 100%, 50%);

    & > img {
      border-radius: .3rem;
    }
  }
}
