body{
  background-color: hsl(217, 54%, 11%);
  word-wrap: break-word;
  font-family: 'Outfit', sans-serif;
  line-height: 1.5rem;
  height: 100vh;
  display: flex;
  font-size: 18px;
}

h1, h2, h3, h4, h5 {
  color: hsl(0, 0%, 100%);
  text-rendering: optimizeLegibility;
  margin: calc(12px + .1vw) 0;
}

span{
  color: hsl(0, 0%, 100%);
  font-weight: 400;
}


h1 {
  font-size: 2.007em;
  line-height: calc(20px + 4.3vw);
  margin: calc(12px + 1.3vw) 0;
}

h2 {
  font-size: 1.823em;
  line-height: calc(20px + 4.3vw);
}

h3 {
  font-size: 1.609em;
}

h4 {
  font-size: 1.403em;
  font-weight: 600;
}

h5 {
  font-size: 1.275em;
}

h4, h5, h6 {
  line-height: calc(20px + 2vw);
}

p {
  margin-bottom: calc(12px + 1.6vw);
  color: hsl(215, 51%, 70%);
}


img{
  width: 100%;
  height: 100%;
}
